body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  cursor: none;
}

:root {
  --color-background: #fafafa;
  --color-foreground: black;
}

body.dark {
  --color-background: black;
  --color-foreground: #efefef;
}

/* Nav effect  */
/* .slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f5ebe0;
  background-blend-mode: screen;
  background-blend-mode: multiply;
  transform-origin: bottom;
  z-index: 1;
} */

/* Nav effect  */
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-blend-mode: screen;
  background-blend-mode: multiply;
  transform-origin: top;
  z-index: 1;
}

/* Header for pages */
.page-hero {
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
